# --- Seguridad ---
config.py

# --- Datos Locales ---
resultados.json

# --- Python ---
__pycache__/
*.pyc
venv/
.venv/

# --- VS Code ---
.vscode/

# --- Pruebas y Temporales (PyInstaller) ---
scanner2.py
build/
dist/
*.spec
# --- Monitor ---
monitor.log